.main-box {
  width: 100%;
}

.graph-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}

.inputNumber {
  display: flex;
  gap: 1rem;
}

input {
  padding: 4px;
  border-radius: 4px;
}
