.chart-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 15px 0px;
  justify-content: center;
  align-items: center;
}

.highcharts-series-group {
  flex: 0;
}

@media screen and (max-width: 600px) {
  .chart-container {
    grid-template-columns: 1fr;
  }
}
