* {
  margin: 0;
  padding: 0;
}

button {
  height: 42px;
  width: 75px;
  background: #f6f6f6;
  border-radius: 8px;
  border: 1px solid #cacaca;
  color: #ff4747;
  font-size: 17px;
  font-weight: 400;
  transition: 300ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background: #cacaca;
  color: #ea2a2a;
}
